<aside class="sidebar">

    <!-- =====================================================
         LOGO
    ====================================================== -->

    <div class="sidebar-brand">

        <img
            src="img/logos/sicamil-logo.png"
            alt="SICAMIL - Sistema de Controle de Militares"
            class="sidebar-logo"
        >

    </div>


    <!-- =====================================================
         MENU
    ====================================================== -->

    <nav class="sidebar-menu">


        <!-- DASHBOARD -->

        <a
            href="dashboard.html"
            class="menu-item"
            data-permission="DASHBOARD_VISUALIZAR"
        >

            <span class="menu-icon">

                <img
                    src="img/icons/sidebar/dashboard-icon.png"
                    alt=""
                    class="menu-icon-img"
                >

            </span>

            <span>
                Dashboard
            </span>

        </a>


        <!-- CHAMADA -->

        <a
            href="chamada.html"
            class="menu-item"
            data-permission="CHAMADA_REALIZAR"
        >

            <span class="menu-icon">

                <img
                    src="img/icons/sidebar/chamada-icon.png"
                    alt=""
                    class="menu-icon-img"
                >

            </span>

            <span>
                Chamada
            </span>

        </a>


        <!-- REGISTROS -->

        <a
            href="registros.html"
            class="menu-item"
            data-permission="REGISTROS_VISUALIZAR"
        >

            <span class="menu-icon">

                <img
                    src="img/icons/sidebar/registros-icon.png"
                    alt=""
                    class="menu-icon-img"
                >

            </span>

            <span>
                Registros
            </span>

        </a>


        <!-- PESQUISA -->

        <a
            href="pesquisa.html"
            class="menu-item"
            data-permission="PESQUISA_REALIZAR"
        >

            <span class="menu-icon">

                <img
                    src="img/icons/sidebar/pesquisa-icon.png"
                    alt=""
                    class="menu-icon-img"
                >

            </span>

            <span>
                Pesquisa
            </span>

        </a>


        <!-- =================================================
             CADASTROS
        ================================================== -->

        <div
            class="menu-separator"
            id="menuCadastrosTitulo"
        >
            CADASTROS
        </div>


        <!-- USUÁRIOS -->

        <a
            href="usuarios.html"
            class="menu-item menu-cadastro"
            data-permission="USUARIOS_GERENCIAR"
        >

            <span class="menu-icon">

                <img
                    src="img/icons/sidebar/usuarios-icon.png"
                    alt=""
                    class="menu-icon-img"
                >

            </span>

            <span>
                Usuários
            </span>

        </a>


        <!-- SEÇÕES -->

        <a
            href="secoes.html"
            class="menu-item menu-cadastro"
            data-permission="SECOES_GERENCIAR"
        >

            <span class="menu-icon">

                <img
                    src="img/icons/sidebar/secoes-icon.png"
                    alt=""
                    class="menu-icon-img"
                >

            </span>

            <span>
                Seções
            </span>

        </a>


        <!-- MILITARES -->

        <a
            href="militares.html"
            class="menu-item menu-cadastro"
            data-permission="MILITARES_GERENCIAR"
        >

            <span class="menu-icon">

                <img
                    src="img/icons/sidebar/militares-icon.png"
                    alt=""
                    class="menu-icon-img"
                >

            </span>

            <span>
                Militares
            </span>

        </a>


        <!-- RELATÓRIOS -->

        <a
            href="relatorios.html"
            class="menu-item"
            data-permission="RELATORIOS_EXPORTAR"
        >

            <span class="menu-icon">

                <img
                    src="img/icons/sidebar/relatorios-icon.png"
                    alt=""
                    class="menu-icon-img"
                >

            </span>

            <span>
                Relatórios
            </span>

        </a>


        <!-- CONFIGURAÇÕES -->

        <a
            href="configuracoes.html"
            class="menu-item"
        >

            <span class="menu-icon">

                <img
                    src="img/icons/sidebar/configuracoes-icon.png"
                    alt=""
                    class="menu-icon-img"
                >

            </span>

            <span>
                Configurações
            </span>

        </a>


    </nav>


    <!-- =====================================================
         RODAPÉ
    ====================================================== -->

    <div class="sidebar-footer">

        <span>
            DISCIPLINA
        </span>

        <span>
            ORGANIZAÇÃO
        </span>

        <span>
            PRONTIDÃO
        </span>

    </div>

</aside>